*{
    padding: 0px;
    margin: 0px;
}
ul{
    border: solid 1px;
    width: 330px;
    position: fixed;
    height: 100%;
    background-color: navy;
    padding-top: 60px;
}
#text1{
    color: orange;
    font size: 40px;
    font weight: bold;
}
#text2{
    color: orange;
    font-size: 40px;
    font-weight: bold ;
}
ul li{
    border: solid 1px white;
    height: 50px;
    width: 150px;
    margin-left: 70px;
    background-color: black;
    text-align: center;
    line-height: 50px;
    border-radius: 100px;
    margin-bottom: 10px;

}
ul li a{
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}
ul li:hover{
    background-color: crimson;
}
#home{
    border: solid 1px;
    height: 630px;
    background-color: gainsboro;
    padding-left: 335px;
}
#text3{
    color: red;
    font-size: 50px;
}
#text4{
    color: chocolate;
    font-size: 90px;
}
#bt1{
    height: 50px;
    width: 200px;
    background-color: red;
    border-radius: 20px;
    font-size: 22px;
}   
#about{
    border: solid 1px;
    height: 630px;
    background-color: gainsboro;
    padding-left: 335px;
}
#aboutme{
     font-size: 50px;
     color: coral;
}
#bt1{
    font-size: 40px;
    background-color: steelblue;
    width: 200px;
}
